<header><nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom border-2 border-secondary" style="background:linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);">
    <div class="container"> <a class="navbar-brand" href="#"><span class="material-icons fs-2">
        pets
        </span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto gap-2">

                <a type="button" class="  btn btn-light btn-lg btn-sm pe-4 ps-4  " href="/"
                    data-mdb-toggle="fade-in"> <span class="material-icons align-middle">
                        home
                        </span> Inicio</a>

                <a type="button" class="  btn btn-light btn-lg btn-sm pe-3 ps-3 text-center" href="/servicios"
                    data-mdb-toggle="fade-in"><span class="material-icons align-middle">
                        list_alt
                        </span> Servicios </a>
                <a type="button" class="  btn btn-light btn-lg btn-sm pe-3 ps-3 text-center" href="/"
                    data-mdb-toggle="fade-in"><span class="material-icons align-middle">
                        contact_support
                        </span> Sobre nosotros </a>
                        <div class="dropdown">
                            <button type="button" class="  btn btn-light btn-lg btn-sm pe-3 ps-3 text-center dropdown-toggle " id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span class="material-icons align-middle">
                        person
                        </span> Usuario </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/">Registrar</a></li>
                            <li><a class="dropdown-item" href="/">Iniciar sesion</a></li>
                            <li><a class="dropdown-item" href="/">Mi mascota</a></li>
                          </ul>


                        </div>
                
                        

            </div>
        </div>
    </div>
</nav></header>